@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700);




#header1-j H1 {
  font-size: 30px;
  color: #484646;
}
#header1-j .btn {
  font-size: 20px;
}
#ext_menu-3 .navbar-toggler {
  color: #000;
}
#ext_menu-3 .navbar-brand {
  font-size: 18px;
  font-family: 'Playfair Display', sans-serif;
}
#ext_menu-3 .nav-link {
  font-size: 18px;
}
#ext_menu-3 .navbar-nav .btn {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
#content5-b P {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
#content5-b .mbr-section-title {
  text-align: center;
  font-size: 25px;
}
#msg-box4-c .mbr-section-title DIV {
  font-size: 20px;
}
#form1-6 .btn {
  font-family: 'Titillium Web', sans-serif;
}


#ext_menu-d .navbar-toggler {
  color: #000;
}
#ext_menu-d .navbar-brand {
  font-size: 18px;
  font-family: 'Playfair Display', sans-serif;
}
#ext_menu-d .nav-link {
  font-size: 18px;
}
#ext_menu-d .navbar-nav .btn {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}


#ext_menu-h .navbar-toggler {
  color: #000;
}
#ext_menu-h .navbar-brand {
  font-size: 18px;
  font-family: 'Playfair Display', sans-serif;
}
#ext_menu-h .nav-link {
  font-size: 18px;
}
#ext_menu-h .navbar-nav .btn {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
