@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);


#ext_menu-3 .navbar-toggler {
  color: #000;
}
#ext_menu-3 .navbar-brand {
  font-size: 16px;
  font-family: 'Playfair Display', sans-serif;
}
#content5-b P {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
#content5-b .mbr-section-title {
  text-align: center;
  font-size: 25px;
}
#msg-box4-c .mbr-section-title DIV {
  font-size: 20px;
}

#ext_menu-d .navbar-toggler {
  color: #000;
}
#ext_menu-d .navbar-brand {
  font-size: 16px;
  font-family: 'Playfair Display', sans-serif;
}

#ext_menu-h .navbar-toggler {
  color: #000;
}
#ext_menu-h .navbar-brand {
  font-size: 16px;
  font-family: 'Playfair Display', sans-serif;
}
